In [7]:
import pandas as pd
df = pd.read_csv('GVP_Emission_Results.csv')

In [9]:
df.head()

,Volcano Number,Volcano Name,Country,Emission ID,Method,Start Date,End Date,Total SO2 Mass (kt),SO2 Altitude Range Start
0,290360,Chikurachki,Russia,182,Satellite,2016 Mar 30,2016 Mar 30,4.0,6.8
1,312030,Pavlof,United States,222,Satellite,2016 Mar 27,2016 Mar 27,20.0,9.0
2,266030,Soputan,Indonesia,150,Satellite,2016 Jan 05,2016 Jan 05,3.0,11.8
3,342090,Fuego,Guatemala,283,Satellite,2016 Jan 04,2016 Jan 20,2.0,7.0
4,342090,Fuego,Guatemala,284,Satellite,2016 Feb 10,2016 Feb 10,1.0,7.0

In [10]:
df.dtypes

Volcano Number                int64
Volcano Name                 object
Country                      object
Emission ID                   int64
Method                       object
Start Date                   object
End Date                     object
Total SO2 Mass (kt)         float64
SO2 Altitude Range Start    float64
dtype: object