In [5]:
import pandas as pd

df = pd.read_csv('testload.csv')

In [6]:
df.head()

,Volcano_Number,Volcano_Name,Primary_Volcano_Type,Elevation,Tectonic_Settings,Population within 5 km,Population within 10 km,Population within 30 km,Population within 100 km,Latitude
0,290390,Alaid,Stratovolcano,2285,Subduction zone / Continental crust (>25 km),NaN,64.0,64.0,2887.0,50.861
1,221060,Alu-Dalafilla,Fissure vent(s),578,Rift zone / Intermediate crust (15-25 km),NaN,NaN,11209.0,478054.0,13.793
2,257040,Ambrym,Pyroclastic shield,1334,Subduction zone / Intermediate crust (15-25 km),NaN,186.0,10826.0,63999.0,-16.250
3,284200,Anatahan,Stratovolcano,790,Subduction zone / Crustal thickness unknown,NaN,NaN,NaN,NaN,16.350
4,283110,Asamayama,Complex,2568,Subduction zone / Continental crust (>25 km),583.0,22371.0,457576.0,7629353.0,36.406

In [7]:
df.dtypes

Volcano_Number                int64
Volcano_Name                 object
Primary_Volcano_Type         object
Elevation                     int64
Tectonic_Settings            object
Population within 5 km      float64
Population within 10 km     float64
Population within 30 km     float64
Population within 100 km    float64
Latitude                    float64
dtype: object